.movie-card {
  display: flex;

  margin: 30px;
}
.card-image {
  width: 300px;
  height: 450px;
  border-radius: 5px;
}
img {
  width: 100%;
}
.movie-details {
  max-width: 300px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.filler-poster {
  width: 300px;
  height: 450px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}
