.main {
  padding-top: 100px;
  display: flex;
}
.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hide {
  display: none;
}
.show {
  display: block;
}
