.form-input {
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(218, 202, 202);
  font-size: 15px;
  border: none;
  padding-left: 10px;
  margin: 10px;
  outline: none;
}
.form-input:hover {
  background-color: rgb(222, 206, 220);
  border: none;
  outline: none;
}
.form-input:focus {
  border: none;
  outline: none;
}

.form-button {
  display: flexbox;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: rgb(89, 124, 49);
  color: rgb(56, 17, 17);
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0px 5px 0px rgb(192, 175, 224); */
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
}
.form-button:active {
  box-shadow: 0 3px 0 #567c68;
  top: 3px;
}
.form-button:disabled {
  color: rgb(52, 85, 52);
}
.form-button:hover {
  cursor: pointer;
}
